.transaction-overview--header {
  justify-content: flex-end;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  padding: 1rem 0;
  width: 100%;
}

.total {
  padding-bottom: 1em;
}

.total h1 {
  font-weight: 300;
}

.total .current {
  color: hsla(0, 0%, 100%, 0.5);
  font-style: italic;
  font-weight: 300;
  padding-bottom: 0.6em;
}
