.category-icon {
  border-radius: 100%;
  padding-top: 12px;
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}

.category-icon.expense.active {
  border: 1px solid #ff6150;
  background-color: #ff6150;
}

.category-icon.income.active {
  border: 1px solid #69bebe;
  background-color: #69bebe;
}
